h1 {
    text-align: center;
}
#red {
    color:red;
}
#blue {
    color:blue;
}
#green {
    color:green;
}
#big {
    font-size: larger;
}
#tiny {
    font-size: smaller;
}
#center {
    text-align: center;
}
#bold {
    font-weight: bold;
}
#font {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#multiple {
    font-size: 30px;
    font-weight: 800;
    color: orange;
}
.styledFont {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#styledImage {
    border: 4px solid black;
    padding: 10px;
}